/* CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Navbar*/
.navbar {
  background-color: #2e321a;
}

.navbar-brand {
  color:  #fff;
}

.navbar-brand:hover {
  color:  #b3b02e;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #b3b02e;
}

.nav-link:target {
  color: #b3b02e;
}
.navbar-toggler {
    border-color: rgba(179,176,46, 0.5);
}
.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179,176,46, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }




/*Hr*/
.hr-global {
  width: 100px;
  text-align: center;
  border: 2px solid #c5492d;
  margin: auto;
}

/*Footer*/
#footer {
  background-color: #2e321a;
}

/*Jumbotron*/
.jumbotron {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  height: 80vh;
  padding-right: 10vw;
  padding-left: 10vw;
  border-radius: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("./images/portfolio-banner.jpg");
}


/*Image*/
.lyza-image {
  border-radius: 5px;
  padding-left: 5vw;
  padding-right: 5vw;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

p{
  line-height: 1.8;
}

#projects {
  background-color: #2e321a;
  padding-right: 10vw;
  padding-left: 10vw;
}

#contact {
  padding-right: 10vw;
  padding-left: 10vw;
}

#about {
  padding-right: 10vw;
  padding-left: 10vw;
}

/*Button*/
.cta-button {
  background-color: #c5492d;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #c5492d;
  padding: 5px 25px;
}
.cta-button:hover {
  background-color:  #b3b02e;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #b3b02e;
  padding: 5px 25px;
}

.close-button {
  background-color: #fff;
  font-weight: 500;
  color: #c5492d;
  border-radius: 25px;
  border: 2px solid #c5492d;
  padding: 5px 25px;
}

.close-button:hover {
  background-color: #fff;
  font-weight: 500;
  color: #c5492d;
  border-radius: 25px;
  border: 2px solid #c5492d;
  padding: 5px 25px;
}

.modal-title {
  color: #c5492d;
}

.submit-button {
  background-color: #c5492d;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #c5492d;
  padding: 5px 25px;
  margin-right: 10px;
  width: 100%;
}

.submit-button:hover {
  background-color:  #b3b02e;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #b3b02e;
  border-radius: 25px;
  padding: 5px 25px;
}
/*Forms*/
.form-control {
  border: 1px solid #c5492d;
  border-radius: 25px;
  padding: 20px;
}

.form-control:focus {
  border: 1px solid #b3b02e!important;
  border-shadow: none!important;
}

.message-box {
  height: 10vh;
  margin-bottom: 30px;
}

.form-group {
    margin-bottom: none;
}


<!-- Card -->
card {
  width: 18rem;
}

.card-title {
  font-weight: 700;
  color: #c5492d;
}
.icons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.icons i {
  margin-right: 10px;
  font-size: 36px;
  color: #fff;
}
